<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/admin-dashboard">Welcome</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/gestion-films">gestion-films</a></li>
        <li><a routerLink="/gestion-salles">gestion-salles</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/acceuil"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet>

  </router-outlet>