
<main>
    <section class="hero">
        <h1>Bienvenue au StarCiné </h1>
        <p>Découvrez les derniers films, trouvez des salles près de chez vous et réservez vos tickets en ligne.</p>
        
    </section>

    <section class="latest-movies">
        <h2>Derniers Films</h2>
        <div class="movie-list">
            <div class="movie">
                <img src="assets/images/Le Dernier JAGUAR.jpg" alt="Movie 1">
                <h3>Le Dernier JAGUAR</h3>
            </div>
            <div class="movie">
                <img src="assets/images/ROLE-PLAY.jpg" alt="Movie 2">
                <h3>ROLE-PLAY</h3>
            </div>
            <div class="movie">
                <img src="assets/images/SPIDER-MAN.jpg" alt="Movie 3">
                <h3>SPIDER-MAN</h3>
            </div>
        </div>
        <button class="discover-button" routerLink="/cinema">Découvrir plus</button>
    </section>
</main>
