/* Keep navbar styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligner verticalement les éléments enfants */
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-grow: 1; /* Permet aux liens de remplir l'espace disponible */
}

.navbar a {
  text-align: center;
  margin: 0 10px;
  color: black;
  text-decoration: none; /* Supprime les soulignements */
}

/* Add styles for contact form */

.contact-form {
  margin-top: 100px;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Add rounded corners */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block; /* Make labels on separate lines */
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; /* Add rounded corners to input fields */
  margin-bottom: 15px;
}

.contact-form textarea {
  height: 150px; /* Set height for textarea */
}

.contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Add rounded corners to button */
  cursor: pointer; /* Change cursor style to indicate clickability */
  transition: all 0.3s; /* Add smooth transition on hover */
}

.contact-form button:hover {
  background-color: #444; /* Change background color on hover */
}
