.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligner verticalement les éléments enfants */
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-grow: 1; /* Permet aux liens de remplir l'espace disponible */
}

.navbar a {
  text-align: center;
  margin: 0 10px;
  color: black;
  text-decoration: none; /* Supprime les soulignements */
}

.description {
  text-align: center;
  border: 1px solid #0f0f0f;
  padding: 40px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  width: 80%;
  font-weight: bold; /* Mettre le texte en gras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajouter une ombre au texte */
  font-size: 2em; /* Taille de police très grande */
}
.subtitle {

  text-align: center;
  font-size: 1.5em; /* Taille de police plus grande */
  margin-top: 50px; /* Espacement vers le bas */
  color: #333; /* Couleur du texte */
  font-style: italic; /* Style d'écriture italique */
}
.learn-more {
  margin-top: 20px; /* Espacement vers le haut */
  font-size: 1.2em; /* Taille de police */
  color: #333; /* Couleur du texte */
  text-decoration: none; /* Supprime les soulignements */
  border: 2px solid #333; /* Bordure */
  padding: 10px 20px; /* Espacement à l'intérieur du lien */
  border-radius: 5px; /* Coins arrondis */
  transition: all 0.3s; /* Transition pour les effets de survol */
}

.learn-more:hover {
  background-color: #333; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  text-align: center; /* Centrer le texte */
}