<app-admin-navbar></app-admin-navbar>
<div class="container">
    <h2>Dashboard Admin</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Gestion des Salles</div>
                <div class="panel-body">
                    <p>Accédez à la gestion des salles pour effectuer des opérations telles que l'ajout, la modification et la suppression de salles.</p>
                </div>
                <div class="panel-footer">
                    <a routerLink="/gestion-salles" class="btn btn-primary">Accéder à la Gestion des Salles</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Gestion des Films</div>
                <div class="panel-body">
                    <p>Accédez à la gestion des films pour effectuer des opérations telles que l'ajout, la modification et la suppression de films.</p>
                </div>
                <div class="panel-footer">
                    <a routerLink="/gestion-films" class="btn btn-primary">Accéder à la Gestion des Films</a>
                </div>
            </div>
        </div>
    </div>
</div>
