.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Centrer verticalement */
  }
.login-form {
    
    width: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(180, 71, 71, 0.1);
  }
  .L2{
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #BACD92;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  
  .form-group:last-child {
    text-align: center; /* Centrer le bouton uniquement */
  }
  